.attribution { font-size:
    11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display:flex ;
    background-color: hsl(185, 41%, 84%);
    align-content: center;
    justify-content: center;
    margin-top: 10rem;
}

.container{
    height:24rem;
    width:45rem;
    background-color: white;
    border-radius: 20px;
    padding:1em;

}

.inner-container{
    height:23rem;
    width:23rem;
    border-radius: 20px;
    background-color:hsl(183, 100%, 15%) ;
    position: relative;
    left:21rem;
    bottom: 20.75rem;
    /* padding-left:2rem; */

}

.tip-container{
    height: 8rem;
    width: 20rem;;
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    gap:1px;

}

.tip-button{
    height: 2rem;
    width:6rem;
    gap:1rem;
    border-radius: 7px;
}

.tip-custom{
    height: 1.70rem;
    width:5.5rem;
    border-radius: 7px;

}

input{
    width: 19rem;
    height: 2rem;
    background-color: hsl(189, 41%, 97%);
}